:root {
  --groen: #556b2f;
  --achtergrond: #f6f4dd;
}

html,
body {
  height: 100%;
  margin: 0;
  padding-left: 0;
  background-color: var(--achtergrond);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

#logo{
  padding: 11px;

}

#paginas {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--groen);
  font-size: 23px;
  position: sticky;
  top: 0px;

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: var(--achtergrond);
    color: black;
  }
}

.tekst-welkom {
  color: white;
  text-align: left;
  font-size: 23px;
  margin: 0;
  padding: 15px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.tekst {

  font-size: 23px;
  margin: 0;
  padding: 15px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.titel-welkom{

  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 10px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.titel {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 10px;
  color: var(--groen);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.subtitel {
  font-size: 35px;
  margin: 0;
  padding: 10px;
  color: var(--groen);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

#hobby {
  text-decoration: none;
  color: var(--groen);
}

#Diego {
  border-style: solid;
  border-width: 4px;
  border-color: var(--groen);
  border-radius: 8px;
}

#kenmerken {
  list-style-type: none;
  font-size: 30px;
  text-align: center;
}

#homepositie{
  text-align: center;
}


.buttons {
  background-color: var(--groen);
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

#games {
  td {
    border-style: solid;
    border-width: 4px;
    padding: 5px;
    border-color: var(--groen);
    font-size: 20px;
   
  }

  border-collapse: collapse;
}

#fotopc {
  position: absolute;
  top: 155px;
  left: 1200px;
  border-style: solid;
  border-color: var(--groen);
  border-width: 4px;
}

#captionTabel{
    font-size: 30px;
    color: var(--groen);

}


#Walter {
    position: absolute;
    top: 1400px;
    left: 900px;
    border-style: solid;
    border-color: var(--groen);
    border-width: 4px;
    border-radius: 8px;
}

#Lola {
    position: absolute;
    top: 1400px;
    left: 1300px;
    border-style: solid;
    border-color: var(--groen);
    border-width: 4px;
    border-radius: 8px;
}

#fotoMap {

  position: absolute;
  top: 1000px;
  left: 1000px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--groen);
  border-radius: 8px;
}

section {
  background-color: var(--groen);
  color: white;
  padding: 40px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 1500px;
  text-align: center;
  transition: background-color 0.3s ease;
}

section a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

section + section {
  margin-top: 0;
}


.contact-form {
  background-color: var(--groen);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.form-group textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#bodycv{
  text-align: center;
}

#bodycontact{
  text-align: center;
}


#ervaring{
  list-style-type: none;
  font-size: 20px;
}

#lijstcv{
  list-style-type: none;
  font-size: 20px;
}



.hero{
  background-color: var(--groen);

}

.btn-primary{
  background-color: var(--groen);
}

.card{
  background-color: var(--achtergrond);
  border-style: solid;
  border-width: 3px;
  border-color: var(--groen);
}

.footer{
  background-color: var(--groen);
  color:white;
}

.carousel-item{
  height: 600px;
  width: 1300;

 position: center ;
}

.accordion-button{
  background-color: var(--groen);
  color: white;
}

.accordion-body{
  background-color: var(--achtergrond);
}

